.externaldiv {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.searchbar-conatiner {
  display: flex;
  width: 72rem;
  border: 1px solid rgb(50, 48, 48);
  border-radius: 8px;
  padding: 0.8rem;
}

.searchicon {
  display: flex;
  align-items: center; /* Align icon vertically center */
  padding: 0 10px; /* Add some padding around the icon */
}

.search-input {
  flex: 1; /* Allow this to grow and fill the remaining space */
}

.search-input input {
  width: 100%; /* Ensure the input takes the full width of its container */
  border: none; /* Remove default border */
  padding: 5px; /* Add some padding inside the input */
  box-sizing: border-box;
  outline: none; /* Include padding and border in element's total width and height */
}
