.header-container {
  display: flex;
  gap: 4rem;
  align-items: center;
  background-color: rgb(214 122 92);
  height: 4rem;
  width: auto;
  overflow-x: auto;
}
.header-container .menu {
  margin-left: 1rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navlist {
  margin-left: 10%;
}

.navlist ul {
  display: flex;
  gap: 2rem;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}
.navlist ul li {
  list-style-type: none;
}

.navlist ul a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navlist ul a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

.navlist ul a:hover {
  color: rgb(238, 37, 37);
}

.navlist ul a:hover::after {
  width: 100%;
}

@media (max-width: 860px) {
  .header-container {
    gap: 2rem;
    padding: 0 1rem;
  }

  .header-container .menu {
    font-size: 2rem;
  }

  .navlist {
    margin-left: 2%;
  }

  .navlist ul {
    gap: 0.5rem;
  }
}

@media (max-width: 626px) {
  .header-container {
    gap: 1rem;
    padding: 0 0.5rem;
  }

  .header-container .menu {
    font-size: 2rem;
  }

  .navlist {
    margin-left: 0%;
  }

  .navlist ul {
    gap: 0.2rem;
  }
}
