/* Gallery.css */
.gallery {
  display: grid;
  gap: 2rem;
  justify-content: center;
  place-items: center;
  place-content: center;
  margin-top: 2%;
  grid-template-columns: repeat(3, 0fr);
}

@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1r);
  }
}

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
